<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           https://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Component scanning to detect @Controller, @Service, etc -->
	<context:component-scan base-package="springmvc" />

	<!-- View resolver configuration for JSP -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<!-- DataSource Bean Configuration -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springjdbc" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- SessionFactory Bean Configuration -->
	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="Factory">
		<property name="dataSource" ref="ds" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>springmvc.model.Customer</value>
			</list>
		</property>
	</bean>

	<!-- HibernateTemplate Bean -->
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hiber">
		<property name="sessionFactory" ref="Factory" />
	</bean>

	<!-- Empdao Bean -->
	<bean class="springmvc.dao.Empdao" name="huza">
		<!-- No need for setter injection, field injection will work with @Autowired -->
	</bean>

	<!-- Transaction Manager -->
	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="transactionManager">
		<property name="sessionFactory" ref="Factory" />
	</bean>

</beans>
